body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333A48;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    background-color: #e7ebf4;
    width: 100%;
    height: 50px;
    position: sticky;
    top: 0;
}

.options {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.option {
    width: 33.3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.current-city-name {
    color: #e7ebf4;
    font-family: "Avenir Next", sans-serif;
    font-size: 32px;
    text-align: center;
    font-weight: 500;
}

.current {
    background-color: #424b5a;
    color: #e7ebf4;
    height: 50px;
}

.option label {
    width: 70%;
}

.btn-small {
    border: none;
    /*border-left: 1px solid lightslategray;*/
    border-right: 1px solid lightslategray;
    width: 10%;
    height: 50px;
    background-color: #424b5a;
    color: #e7ebf4;
    cursor: pointer;
    transition: .3s;
}

.btn-small:hover {
    transition: .3s;
    background-color: #354b5a;
    color: #ffffff;
}

.address-input {
    border: 1px solid #424b5a;
    width: 100%;
    text-align: center;
    height: 46px;
    background-color: lightslategray;
    color: #ffffff;
}

.address-input::placeholder {
    color: #ffffff;
    text-align: center;
    font-size: 18px;
}

.unit-button {
    border: none;
    border-left: 1px solid lightslategray;
    /*border-right: 1px solid lightslategray;*/
    background-color: #424b5a;
    color: #e7ebf4;
    width: 50%;
    height: 50px;
    cursor: pointer;
    transition: .3s;
}

.unit-button:hover {
    transition: .3s;
    background-color: #354b5a;
    color: #ffffff;
}

#recently-viewed-cities-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #E6EDF4;
    font-family: "Avenir Next", sans-serif;
    font-weight: 300;
    font-size: 12px;
}

#recently-viewed-cities-block div {
    margin: 10px;
}

.individual-day-forecast-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.individual-day-forecast-footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.forecast-item {
    width: 70px;
    color: #E6EDF4;
    font-family: "Avenir Next", sans-serif;
    font-weight: 300;
    font-size: 12px;
}

.forecast-icon {
    width: 100px;
    height: 100px;
}

.forecast-header {
    color: #E6EDF4;
    font-family: "Avenir Next", sans-serif;
    font-size: 32px;
    text-align: center;
    font-weight: 500;
}

.forecast-day-temperature {
    color: #E6EDF4;
    font-family: "Avenir Next - Ultra Light", sans-serif;
    font-size: 30px;
    font-weight: 400;
}

.forecast-summary {
    color: #E6EDF4;
    font-family: "Avenir Next", sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin: 20px 0;
}

.forecast-temperature {
    color: #E6EDF4;
    font-family: "Avenir Next", sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.forecast-wind-speed {

}

.forecast-humidity {

}

.forecast-dew-point {

}

.forecast-uv-index {

}

.forecast-pressure {

}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 50px;
    color: #E6EDF4;
    font-family: "Avenir Next", sans-serif;
    font-size: 20px;
    font-weight: 400;
}

footer a {
    font-family: "Avenir Next", sans-serif;
    color: #E6EDF4;
    text-decoration: none;
}

@media (max-width: 900px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
        background-color: #e7ebf4;
        width: 100%;
        height: 100%;
        position: sticky;
        top: 0;
    }

    .options {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .option {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .current-city-name {
        color: #e7ebf4;
        font-family: "Avenir Next", sans-serif;
        font-size: 32px;
        text-align: center;
        font-weight: 500;
    }

    .current {
        background-color: #424b5a;
        color: #e7ebf4;
        height: 50px;
    }

    .option label {
        width: 70%;
    }

    .btn-small {
        border: none;
        width: 10%;
        height: 50px;
        background-color: #424b5a;
        color: #e7ebf4;
        cursor: pointer;
        transition: .3s;
    }

    .btn-small:hover {
        transition: .3s;
        background-color: #354b5a;
        color: #ffffff;
    }

    .address-input {
        border: 1px solid #424b5a;
        width: 100%;
        text-align: center;
        height: 46px;
        background-color: lightslategray;
        color: #ffffff;
    }

    .address-input::placeholder {
        color: #ffffff;
        text-align: center;
        font-size: 18px;
    }

    .unit-button {
        border: none;
        background-color: #424b5a;
        color: #e7ebf4;
        width: 50%;
        height: 40px;
        cursor: pointer;
        transition: .3s;
    }

    .unit-button:hover {
        transition: .3s;
        background-color: #354b5a;
        color: #ffffff;
    }
}