/*root styles*/

#root {
    width: 100%;
}

/*//root styles*/

/* toolbar*/
.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #414141;
}

.toolbar-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.form-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-item {
    padding: 0 10px 0 10px;
}

.address label {
    width: 100%;
    max-width: 600px;
}

.control {
    position: relative;
    z-index: 1;
    display: inline-block;
    box-sizing: border-box;
    font-size: 11px;
    max-width: 100%;
    max-height: 100%;
    user-select: none;
    outline: 0;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    vertical-align: middle;
    cursor: pointer;
}

.control--size--small {
    height: 32px;
    width: 32px;
}

.control--size--medium {
    height: 32px;
    width: 52px;
}

.control--theme--gray {
    background-color: #6b6b6b;
    border-width: 0;
    color: #fff;
    fill: #fff;
    text-decoration: none;
    border-radius: 4px;
}

.control--theme--gray:hover {
    color: #fff;
    background-color: #565656;
}

.select {
    width: 320px;
    height: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #fff;
    background-color: #323232;
    border-radius: 4px;
    border: solid 1px #555;
    box-shadow: none;
    padding-left: 12px;
    padding-right: 12px;
}

#currentPos {
    background-image: url("../img/target.svg");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center center;
}

#submit {
    background-image: url("../img/search.svg");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center center;
}

#addToFav {
    background-image: url("../img/add.svg");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center center;
}

.input-field {
    box-sizing: border-box;
    display: block;
    margin: 0;
    outline: none;
    appearance: none;
    resize: none;
    max-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #fff;
    background-color: #323232;
    border-radius: 4px;
    border: solid 1px #555;
    box-shadow: none;
    padding-left: 12px;
    padding-right: 12px;
    width: 100%;
    min-height: 32px;
}

/* /toolbar*/

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2c2c2c;
    color: #d4d4d4;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    background-color: #e7ebf4;
    width: 100%;
    height: 50px;
    position: sticky;
    top: 0;
}

.options {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.current {
    background-color: #424b5a;
    height: 50px;
}

.recently {
    cursor: pointer;
}

/*card*/

#container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px 0;
    width: 100%;
}

.individual-day-forecast-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px #555;
    border-radius: 6px;
    width: 150px;
    padding: 15px 5px 15px 5px;
}

.individual-day-forecast-footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    /*TODO: make details*/
    display: none;
}

.forecast-item {
    width: 70px;
    font-family: "Avenir Next", sans-serif;
    font-weight: 300;
    font-size: 12px;
}

.forecast-icon {
    width: 80px;
    height: 80px;
}

.forecast-header {
    font-family: "Avenir Next", sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: 500;
}

.forecast-day-temperature {
    font-family: "Avenir Next - Ultra Light", sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.forecast-summary {
    font-family: "Avenir Next", sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 20px 0;
    line-height: 1.5;
}

.forecast-temperature {
    font-family: "Avenir Next", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

/*//card*/

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #414141;
    width: 100%;
    height: 100px;
    font-family: "Avenir Next", sans-serif;
    font-size: 20px;
    font-weight: 400;
}

footer a {
    font-family: "Avenir Next", sans-serif;
    color: #d4d4d4;
    text-decoration: none;
}
